/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@400;700&display=swap"); */

:root {
  --ff-primary: "Open Sans", sans-serif;
  --ff-accent: "Source Sans Pro", sans-serif;

  --clr-neutral-100: #fff;
  --clr-neutral-300: #ddd;
  --clr-neutral-500: #555555;
  --clr-neutral-800: #111827;
  --clr-primary: #041964;

  --transition: 250ms ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.header{
  padding: 2em 2.5em;
  margin-bottom: 1em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.header .title{
  font-size: 1.5em;
  font-weight: bolder;
}

.header .description{
  text-transform: capitalize;
  color: var(--clr-neutral-800);
}

body {
  /* display: grid; */
  /* place-items: center; */
  min-height: 100vh;
  margin: 0;
  margin-bottom: 100px;

  /* background-color: var(--clr-neutral-300); */

  font-family: var(--ff-primary);
  line-height: 1.5;
  font-size: 1rem;
}

.model-section{
  display: flex;
  width: 100%;
  padding: 10px;
  /* background-color: aqua; */
  justify-content: space-evenly;
}

.model-frame{
  /* max-width: 50%; */
  width: 50em;
  display: flex;
  /* background-color: bisque; */
  /* margin: 0px 10px; */
  /* display: flex; */
  /* flex-wrap: wrap; */
  padding: 10px 0px;
  justify-content: center;
}

.banner-frame{
  margin: 0px 10px 0px 10px;
  border-radius: 5px;
  height: 550px;
  width: 50em;
  background-color: rgb(192, 237, 255);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px 30px;
  background-image: url("asset/1sGS-front-logo.png");
  background-repeat: no-repeat;
  background-position: 15% 45%;
  background-size: 22%;
}

.banner-frame p{
  text-align: end;
}

table {
  width: 50%;
  counter-reset: row-num -1;
}
table tr {
  counter-increment: row-num;
}
table tr td:first-child::before {
    content: counter(row-num) "";
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  line-height: 1.1;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

footer{
  background-color: rgb(255, 255, 255);
}