<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cron</title>
</head>
<body>
    <div>
        <p class="text-start fs-3 align-items-center pt-3 pb-2 mb-3 border-bottom">Cron Schedules</p>
    </div>
    {% for cron in crons %}
    <div class="card mb-3">
        <div class="card-header">
            {{cron['schedule']}}
            <div class="vr mx-1"></div>
            {{cron['schedule_readable']}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{cron['schedule_readable']}}</h5>
            <p class="card-text">
                {{cron['job_description']}}
            </p>
            <form class="row g-2">
                <input type="text" class="form-control text-center" name="new-cron" placeholder="{{cron['schedule']}}" value="{{cron['schedule']}}">
                <input type="hidden" name="prev-cron" value="{{cron['job_detail']}}">
                <button type="button" class="btn btn-primary update-cron-btn col-sm-2 mx-auto">Update Schedule</button>
            </form>
        </div>
    </div>
    {% endfor %}
    <!-- {% for cron in crons %}
        <div>{{cron['schedule_readable']}}</div>
        <div>{{cron['schedule']}}</div>
        <div>{{cron['job_detail']}}</div>
        <form>
            <input type="text" name="new-cron" placeholder="new schedule">
            <input type="hidden" name="prev-cron" value="{{cron}}">
            <button type="button" class="update-cron-btn">Update Schedule</button>
        </form>
    {% endfor %} -->
          
    <div>
        <p class="text-start fs-3 align-items-center pt-3 pb-2 mb-3 border-bottom">Cron Finder</p>
    </div>
    <div class="card mb-3">
        <div class="card-header text-center fst-italic fw-semibold fs-3" id="cron_label">
            <p id="cron_label"></p>
        </div>
        <input type="text" value="* * * * *" id="cron_input" class="card-body rounded-bottom border-0 form-control text-center fs-3" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
</body>
</html>