<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metric</title>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='metric/style.css')}}">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('main_page') }}" class="title">DRAIT</a>
        <div class="description">Database writer in Realtime Analysis with Artificial Intelligence Training feeder</div>
    </div>

    <div class="model_detail">
        <h3 class="model_title">Model Name : {{metric}}</h3>
        <div class="chart" id="value"></div>
        <div class="chart" id="loss"></div>
        <div class="thresholding_option">
            <!-- <button id="static-btn">Static Thresholding</button>
            <button id="dynamic-btn">Dynamic Thresholding</button> -->
            <button class='button -regular center' id="static-btn">Static Thresholding</button>
            <button class='button -regular center' id="dynamic-btn">Dynamic Thresholding</button>
        </div>
        <div>
            <div>Cron Manager</div>
            <div>List of Model Version</div>
        </div>
    </div>

</body>

<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='metric/index.js')}}"></script>

<script type="text/javascript">
    var graphs = {{graphJSON | safe}};
    Plotly.plot('value',graphs,{});
    Plotly.plot('loss',graphs,{});

    var ajax_call = function() {
        $.ajax({
            type: "POST",
            url: window.location.toString(),
            success: function(result) {
                update = {x: [JSON.parse(result.x), JSON.parse(result.x_anom)], y: [JSON.parse(result.y), JSON.parse(result.y_anom)]}
                Plotly.update('value', update, {})
                Plotly.update('loss', update, {})
            }
        });
    };

    $(document).ready(function() {
        //* 60 * 0.5
        var interval = 1000 ;
        setInterval(ajax_call, interval);
    });
</script>

</html>