<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="chart" id="value">
    </div>
    <div class="chart" id="loss">
    </div>
    <div>
        <button>Static Thresholding</button>
        <button>Dynamic Thresholding</button>
    </div>
    <div>
        <div>Cron Manager</div>
        <div>Listy of Model Version</div>
    </div>
</body>
</html>