<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metric</title>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='metric/style.css')}}">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('main_page') }}" class="title">DRAIT</a>
        <div class="description">Database writer in Realtime Analysis with Artificial Intelligence Training feeder</div>
    </div>

    <div class="model_detail">
        <h3 class="model_title">Server IP &nbsp;&nbsp;&nbsp;&nbsp;: {{metric['ip']}}</h3>
        <h3 class="model_title">Metric Type : {{metric['type']}}</h3>
        <div class="chart" id="value"></div>
        <div class="chart" id="loss"></div>
        <div class="chart" id="preproc"></div>
        <div class="thresholding_option">
            <button class='button -regular center' id="static-btn">Static Thresholding</button>
            <button class='button -regular center' id="dynamic-btn">Dynamic Thresholding</button>
        </div>
        <div>
            <div>
                <div>Cron Manager</div>
                {% for cron in crons %}
                    <div>{{cron}}</div>
                    <form>
                        <input type="text" name="new-cron" placeholder="new schedule">
                        <input type="hidden" name="prev-cron" value="{{cron}}">
                        <button type="button" class="update-cron-btn">Update Schedule</button>
                    </form>
                {% endfor %}
                
            </div>
            <div>
                <div>Model Status</div>
                {% for stat in modelStatus %}
                <div>
                    Version: {{stat.version}}
                    State: {{stat.state}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='metric/index.js')}}"></script>

<script type="text/javascript">
    var value_graph = {{valueGraph | safe}};
    var loss_graph = {{lossGraph | safe}};
    var preproc_graph = {{preprocGraph | safe}};
    Plotly.plot('value',value_graph,{});
    Plotly.plot('loss',loss_graph,{});
    Plotly.plot('preproc',preproc_graph,{});

    var ajax_call = function() {
        $.ajax({
            type: "POST",
            url: window.location.toString(),
            success: function(result) {
                value_update = {x: [JSON.parse(result.x_value), JSON.parse(result.x_value_anom)], y: [JSON.parse(result.y_value), JSON.parse(result.y_value_anom)]}
                loss_update = {x: [JSON.parse(result.x_loss), JSON.parse(result.x_loss_anom)], y: [JSON.parse(result.y_loss), JSON.parse(result.y_loss_anom)]}
                Plotly.update('value', value_update, {})
                Plotly.update('loss', loss_update, {})
            }
        });
    };

    $(document).ready(function() {
        //
        var interval = 1000 * 60 * 1;
        setInterval(ajax_call, interval);
    });
</script>

</html>